<% config.title = lang.views.index.title; %>
<% config.sidebar.type = "group"; %>
<% config.sidebar.selected = "new"; %>
    <section class="content-sidebar card">
        <div class="card-block row flex-card">
                <div class="col-lg-12">
                    <h1>
                        <% if(model.newGroup.selectedPlan < 0) { %>
                        <b>Create a new group</b>
                        <% } %>
                    </h1>
                </div>
            <div class="col-md-6">
                
            </div>
        </div>
    </section>