<li class="aside-title"><h4><%- lang.sidebar[config.sidebar.type].title %></h4>
<li<%- (config.sidebar.selected == "overview" ? ' class=\"active\"' : "") %>><a href="/group">Overview</a>
<li<%- (config.sidebar.selected == "new" ? ' class=\"active\"' : "") %>><a href="/group/new">Create a new group</a>