<li<%- (config.sidebar.selected == "overview" ? ' class=\"active\"' : "") %>><a href="/group">Overview</a>
<li<%- (config.sidebar.selected == "new" ? ' class=\"active\"' : "") %>><a href="/group/new">Create a group</a>